<div class="actions">
	<%= link_to 'Crear Actor', new_actor_path, class: "button" %>
</div>

<% @actors.each do |actor| %>
	<article class="item">
		<picture>
			<img src="<%= actor.image_url %>" alt="">
		</picture>
		<h2><%= actor.name %></h2>
		<p><%= actor.bio %></p>
		<span><strong>Birth Date:</strong></span>
		<p><%= actor.birth_date %></p>
		<span><strong>Birth Place:</strong></span>
		<p><%= actor.birth_place %></p>
		<% if actor.alive == false %>
			<span><strong>Death Date: </strong></span>
		    <p><%= actor.death_date %></p>
		    <span><strong>Death Place: </strong></span>
		    <p><%= actor.death_place %></p>
		<% end %>
	</article> 
<% end %>